body {
/*	margin: 0;*/
	background: #ebefd0;
font-family: 'Quicksand', ;
    font-weight: 200;
}

html {
  scroll-behavior: smooth;
}

#section1 {
  height: 900px;
}

#section2 {
  height: 1400px;
}

#section3 {
  height: 900px;
}

.pen:hover{
     cursor:url("../images/pen.png"), auto;
}

.read:hover{
     cursor:url("../images/read.png"), auto;
}

.window{
    padding-top: 350px;
        height:600px;
    width:600px;

}

iframe{
    border:none;
}


header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
    background-color: #49beb7;
    opacity: 1;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

form{
    
    padding-top: 30px;
}


nav {
left: 50%;
}


.button:link, .button:visited {
  background-color:#49beb7;
  color: #ebefd0;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover, .button:active {
opacity: 50%;
}



button{
    font-size: 20px;
    padding:16px;
    background-color: #49beb7;
    color:white;
    border:none;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


nav li {
  display: inline-block;
    margin-top:30px;
padding-top:-100px;
padding-bottom:50px;
    padding-left: 200px;
padding-right:200px;
  position: relative;
}

nav a {
  color: #ebefd0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
}



nav a:hover {
  color: #32dbc6;
}

.opacity:hover{
    opacity:0.3;
    
}

.logo{
    position: absolute;

  height: 60px; /* You must set a specified height */
  padding-top: 17px;
margin-left: -100px;
  margin-bottom: -50px;
}

feedback{
  color: #619ef8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

feedback:hover {
  color: #ffec9c;
}

feedback::before {
  content: ''; 
  display: block;
  height: 5px;
  background-color: #ffec9c;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}


footer{
    padding-top: 100px;
    color:#49beb7;
}

.title{
        color:#49beb7;
}



.form__input {
  font-size: 2em;
  margin-bottom: 2em;
  border-bottom: 10px solid #d6d7d9;
  border-radius: 0.4em;
  background: #ebecec;
  color: black;
  font-weight: 300; }
  .form__input:focus {
    border-color: #52bab3; }

.row {
  display: flex;
  flex-wrap: wrap;
    margin-top: 200px;
    margin-left:20%;
}

p{    color:#49beb7;}

.storybox{
    margin-top: 10%;
margin-left: 20%;
}

#a{ width:70%; margin-left:20%;margin-top:10%; overflow:hidden;}
#a1{width:300px; float:left;}
#a2{margin-top: -20px; width:450px;float:left; margin-left: 30%}

.text{
    padding-top:0px;
    margin-left: 600px;
}
/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
